@model List<FoodDelivery.Data.Models.Menu>
@{

    ViewBag.Title = "Restorant";

}

<h2>Restorant Menu</h2><br />


<div class="container-fluid">
   

        @foreach (var item in Model)
        {
            

            <h3>@item.RestorantName</h3>
            <hr />

            <div class="row">
                @foreach (var list in item.FoodItemList)
                {
                    <div class="col-sm-3">
                        <div class="card">
                            <img class="card-img-top small" src="~/Content/Images/@list.Photo" alt="Card image cap">
                            <div class="card-body">
                                <h6 class="card-title"> @Html.ActionLink(list.Name, "Details", "Food", new { Id = list.Id }, null)</h6>
                                @{
                                    if (list.Discount != 0)
                                    {
                                        <div><b>₹@list.DiscountPrice</b><span class="m-2"><del>₹@list.Price</del></span></div>
                                        <div class="text-success">@list.Discount %  Off</div>
                                    }

                                    else
                                    {
                                        <div class="font-weight-bold mb-2"> price: ₹@list.Price</div>
                                    }
                                }

                            </div>
                        </div>
                    </div>


                }
            </div>
                }

            </div>
        
                             