@{
    ViewBag.Title = "Home Page";
}

<div class="text-center my-4 display-3">
    Hello,Wel Come Customer.
</div>
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <header>
        <style type="text/css">
            * {
                margin: 0;
                padding: 0;
                font-family: 'Josefin Sans', sans-serif;
            }

            .carousel-inner img {
                width: 100%;
                height: 550px;
            }
        </style>
</head>
<body>
    

    <div id="demo" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
        </ul>

        <!-- The slideshow -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/Content/Images/fooditem.jpg" alt="Lighthouse">
            </div>
            <div class="carousel-item">
                <img src="/Content/Images/punjabi fix thali.jpg" alt="Desert">
            </div>
            <div class="carousel-item">
                <img src="/Content/Images/gujarati fix dish.jpg" alt="Koala">
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
    </header>
    <!-- about us -->
    <section>
        <div class=" container-fluid">
            <hr class="w-25 mx-auto pt-5">
            <div class="row mb-5">
                <div class="col-lg-6 col-md-6 col-12">
                    <img src="/Content/Images/FoodDelivery.jpg" class="img-fluid">
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <h1> FoodDelivery</h1>
                    <hr>
                    <h3>
                        For us, it's not just about bringing you good food from your favourite restaurants. It's about making a connection, which is why we sit down with the chefs, dreaming up menus that will arrive fresh and full of flavour. Try us!
                    </h3>
                    

                </div>

            </div>


        </div>
    </section>
    <!-- about us end -->
    <!-- service part -->
    <section>
        <div class=" container">
            <h1 class="text-center text-capitalize pt-5">services</h1>
            <hr ">


            <div class="row text-center mb-4">
                <div class="col-lg-4 col-md-4 col-12">
                    <div class="card">
                        <img class="card-img-top" src="~/Content/Images/Shoe.jpeg" alt="">
                        <div class="card-body">
                            <h4 class="card-title"></h4>
                            <p class="card-text">Some example text.</p>
                            <a href="#" class="btn btn-primary">See Profile</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-12">
                    <div class="card">
                        <img class="card-img-top" src="~/Content/Images/Shoe.jpeg" alt="">
                        <div class="card-body">
                            <h4 class="card-title"></h4>
                            <p class="card-text">Some example text.</p>
                            <a href="#" class="btn btn-primary">See Profile</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-12">
                    <div class="card">
                        <img class="card-img-top" src="~/Content/Images/Shoe.jpeg" alt="">
                        <div class="card-body">
                            <h4 class="card-title"></h4>
                            <p class="card-text">Some example text.</p>
                            <a href="#" class="btn btn-primary">See Profile</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- services end -->
    <!-- contact  -->

    <section class="bg-primary">
        <article class="py-4 text-center text-white">
            <div>
                <h3 class="display-4 text-white">+91 123456789</h3>
                <p> If you have any quation call us</p>
                <button class="btn btn-warning"><a href="">  contact now</button>
            </div>
        </article>

    </section>
    <!-- contact end -->
    <!-- gallery start -->
    <section>
        <div class=" container">
            <h1 class="text-center text-capitalize pt-5">gallery</h1>
            <hr class="w-25 mx-auto pt-5">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-12 mb-4">
                    <img src="~/Content/Images/FoodDelivery.jpeg" class="img-fluid">
                </div>
                <div class="col-lg-4 col-md-6 col-12 mb-4">
                    <img src="~/Content/Images/FoodDelivery.jpeg" class="img-fluid">
                </div>
                <div class="col-lg-4 col-md-6 col-12 mb-4">
                    <img src="~/Content/Images/FoodDelivery.jpeg" class="img-fluid">
                </div>
                <div class="col-lg-4 col-md-6 col-12 mb-4">
                    <img src="~/Content/Images/FoodDelivery.jpeg" class="img-fluid">
                </div>
                <div class="col-lg-4 col-md-6 col-12 mb-4">
                    <img src="~/Content/Images/FoodDelivery.jpeg" class="img-fluid">
                </div>
                <div class="col-lg-4 col-md-6 col-12 mb-4">
                    <img src="~/Content/Images/FoodDelivery.jpeg" class="img-fluid">
                </div>
            </div>
    </section>
    <!-- gallery end -->
    <!-- register form -->
    <section class="bg-primary">
        <article class="py-4 text-center ">
            <div class="text-white">
                <h3 class="display-4 text-white">want to join</h3>
                <p> be the part of us</p>
                <button class="btn btn-warning " data-toggle="modal" data-target="#myModal">join now</button>
            </div>
            <!-- The Modal -->
            <div class="modal fade" id="myModal">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">singup</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body text-left">
                            <form action="/action_page.php ">
                                <div class="form-group">
                                    <label for="email">Email address:</label>
                                    <input type="email" class="form-control" id="email" autocomplete="end">
                                </div>
                                <div class="form-group">
                                    <label for="pwd">Password:</label>
                                    <input type="password" class="form-control" id="pwd">
                                </div>
                                <div class="form-group form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox"> Remember me
                                    </label>
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>

                    </div>
                </div>
            </div>

        </article>

    </section>
    <!-- register end -->
    <!-- contact us -->
    <section>

        <div class=" container-fluid">
            <h1 class="text-center text-capitalize pt-5">contact us</h1>

        </div>
        <div class="w-50 mx-auto">
            <div class="modal-body text-left mb-5">
                <form action="/action_page.php ">
                    <div class="form-group">
                        <label for="email">Your Name:</label>
                        <input type="text" class="form-control" id="email" autocomplete="end" placeholder="enter your name">
                    </div>
                    <div class="form-group">
                        <label for="pwd">Email:</label>
                        <input type="email" class="form-control" id="pwd" placeholder="enter your email">
                    </div>
                    <div class="form-group">
                        <label for="pwd">Mobile No:</label>
                        <input type="number" class="form-control" id="pwd" placeholder="enter mobile no">
                    </div>
                    <div class="form-group">
                        <label> Textarea</label>
                        <textarea class="form-control"></textarea>

                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox"> Remember me
                        </label>
                    </div>
                    <button type="submit" class="btn btn-primary">Send</button>
                </form>
            </div>
        </div>
        </div>
    </section>
    <!-- 	 footer -->
    <footer>
    </footer>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</head>
</html>